body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: linear-gradient(to right, #f7c2c2, #bde4f4);
    text-align: center;
    padding: 20px;
}

.header-content h1 {
    font-size: 3em;
    color: #fff;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    color: #ff6868;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
}

.gallery-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 20px;
}

.easter {
    color: white;
    text-decoration: none;
}

.easter :hover{
    color: rgb(202, 92, 111);
}